.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: #acc8e4;
}
.sidebar .nav-link {
    margin-top: 20px;
    color: rgb(64, 56, 56);
    font-size: 20px;
    font-weight: bold;
}
